<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-md-3">
    <p class="bg-success">
      The number of persons is
    </p>
  </div>
  <div class="col-xs-6 col-md-1" >
    <span class="badge" id="summary_value_id"><%= total %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <p class="bg-success">
      Average age
    </p>
  </div>
  <div class="col-xs-6 col-md-1" >
    <span class="badge" id="average_age_id"><%= age %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <p class="bg-success">
      Average plusone
    </p>
  </div>
  <div class="col-xs-6 col-md-1" >
    <span class="badge" id="average_p1_id"><%= plusOne %></span>
  </div>
</div>

<div class="row">
  <div class=" col-sm-offset-0 col-md-3" >
    <a href='#persons'  class="btn  btn-default ">Go to the list of persons</a>
  </div>
</div>
</div>
